---
Language: Cpp
BasedOnStyle:  Chromium
SortIncludes: false
SortUsingDeclarations: false
BreakStringLiterals: false

BreakConstructorInitializers: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine:	true
ConstructorInitializerIndentWidth: 4
ColumnLimit: 0
ReflowComments: false
BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse:      true
...
