
QSplitter::handle:pressed {
  background-color: rgba(255,0,0,1);
}

QSplitter::handle:horizontal {
  image: url(:/QCefWidgetTest/images/splitter_h_handle.svg);
  width: 10px;
  margin: 0px 4px 0px 4px;
}

QSplitter::handle:horizontal:hover {
  image: url(:/QCefWidgetTest/images/splitter_h_handle_hover.svg);
  width: 10px;
}

QSplitter::handle:vertical {
  image: url(:/QCefWidgetTest/images/splitter_v_handle.svg);
  height: 10px;
  margin: 4px 0px 4px 0px;
}

/*TODO: hover不生效*/
QSplitter::handle:vertical:hover {
  image: url(:/QCefWidgetTest/images/splitter_v_handle_hover.svg);
  height: 10px;
}